@model Movies

<h3 style="color: white;">@Model.Name Information</h3>

<table class="table" style="color: white;">
    <tr>
        <th>Movie ID</th>
        <th>Name</th>
        <th>Year of Release</th>
        <th>Rating</th>
        <th>Genre</th>

    </tr>
    <tr>
        <td>@Model.movieid</td>
        <td>@Model.Name</td>
        <td>@Model.YearOfRelease</td>
        <td>@Model.Rating</td>
        <td>@Model.Genre</td>

    </tr>

</table>



