@model IEnumerable<Movies>

<script>
    window.onload = () => { document.querySelectorAll("a").forEach(link => link.href += Math.Round(Math.random() * 10)) ; };
</script>
<h1 style="text-align:center; color: white">Movies</h1>

<div style="text-align:center;">
    <select class="form-select" style="background-color: yellow; text-align: center;" aria-label="Default select example">

        <option selected>Open this select menu</option>
        <option value="1">Action</option>
        <option value="2">Comedy</option>
        <option value="3">Drama</option>
        <option value="4">Mystery</option>
        <option value="5">Fantasy</option>
        <option value="6">Horror</option>
        <option value="7">Romance</option>
        <option value="8">Thriller</option>
        <option value="9">Western</option>
        <option value="10">Adventure</option>
    </select>

    <a class="btn btn-outline-danger" style="text-align: center;" href="https://localhost:44361/Movie/ViewMovie/" role="button">Dealer's Choice</a>
</div>





<form asp-controller="Movie" asp-action="Index" method="get">
    <p style="color: white; text-align: center;">

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>





    <table class="table" style="color: white;">
        <tr>
            <th>movieid</th>
            <th>Name</th>
            <th>YearOfRelease</th>
            <th>Rating</th>
            <th>Genre</th>

        </tr>

        @foreach (var movie in Model)
        {
            <tr>

                <td><a href=/Movie/ViewMovie/@movie.movieid>@movie.movieid</a></td>
                <td>@movie.Name</td>
                <td>@movie.YearOfRelease</td>
                <td>@movie.Rating</td>
                <td><a href=/Movie/ViewGenre/@movie.Genre>@movie.Genre</a></td>

            </tr>

        }
    </table>

    





